@import '../css/normalize.scss'

header
  .top-head
    padding: 15px
    height: auto
    text-align: center
    .icon-bruger
      width: 2rem
      float: left
    .icon-logo
      width: 10rem
    .icon-search
      width: 2rem
      float: right
  .banner
    .banner-background
      position: relative
      img
        width: 100%
        display: block
      .banner-head-text
        padding-right: 15px
        margin: 0
        width: 165px
        text-align: right
        transform: translateY(-50%)
        position: absolute
        top: 50%
        right: 0
        font-size: (11em/16)
        font-family: Arial
    .banner-head-reservation
      ul
        list-style-type: none
        margin: 0
        padding: 0
        li
          padding: 18px 20px 18px 20px
          width: 100%
          height: 22px
          border-top: 1px solid #dbdbdb
          input
            border: 0px
            width: 80%
input::-webkit-input-placeholder
  color: #929292
input:-moz-placeholder
  color: #929292
  opacity: 1
input::-moz-placeholder
  color: #929292
  opacity: 1
input:-ms-input-placeholder
  color: #929292
